.div-header-container {
    background-color: var(--blue);
    margin-top: 0;
    height: 5em;
    display: flex;
    padding: 1em 5em 1em 5em;
    justify-content: space-between;
}

.img-header-logo {
    width: 8%;
}

.div-header-interna1 {
    display: flex;
}

.ul-header {
    list-style: none;
    display: flex;
    align-items: center;
}

.btn-header {
    margin-left: 1rem;
    width: 3.5rem;
    height: 3rem;
    background: transparent;
    border: 1px solid var(--red);
    border-radius: 4px;
    transition: border-color .5s;
}

.btn-header svg {
    color: var(--red);
}

.btn-header:hover {
    border-color: #ff002b;
}

.li-header {
    padding: 1rem;
    color: var(--light);
    font-weight: bold;
}

.li-header:hover {
    color: #eee6e6;
}

.li-header {
    color: var(--light);
}

.a-header {
    text-decoration: none;
}