@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
:root {
    --red:#FF002B;
    --blue-dark: #0C121C;
    --blue: #1E293B;
    --mid: #B8BFC6;
    --light: #ffffff;
}

body {
    background-color: var(--blue-dark);
}

input {
    background: transparent;
    border: none;
    padding-bottom: 0;
    font-size: 20px;
    border-radius: 0;
    border-bottom: 1px solid #ff002b;
    color: var(--light);
}


/* Home */

.div-home-container {
    background-color: var(--blue-dark);
    /* height: 90vh; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.div-home-interna {
    background-color: var(--blue-dark);
    height: 100%;
    width: 65%;
    padding: 2%;
}

.div-home-interna svg, h1 {
    color: var(--light);
}

.div-home-interna h1 span {
    color: var(--red);
}

.div-home-interna h1 > strong {
    color: var(--red);
}
table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

table thead {
    height: 55px;
    font-size: 16px;
    color: var(--light);
    font-weight: 700;
}

table tbody {
    font-size: 18px;
    font-weight: 400;
    color: var(--light);
    text-align: center;
}

table tbody tr {
    height: 74px;
    border-top: 1px solid var(--red)!important;
    cursor: pointer;
}

.div-turmas {
    display: flex;
}

table tbody tr:hover>td {
    background-color: #c0253f;
}

/* table tbody tr:nth-child(odd) {
    background-color: #ff002b;
    color: white;
} */

.div-home-add {
    display: flex;
    justify-content: space-between;
}

.div-home-add > button {
    color: var(--light);
    border: 2px solid var(--red);
    width: 5rem;
    border-radius: 10px;
}